@include extjs-text-field-ui(
$ui:'fieldLabelTop',
$ui-font-size:13px,
$ui-font-weight:400
);

@include extjs-label-ui(
$ui:'fieldLabelTop',
$ui-font-size:13px,
$ui-font-weight:600
);

.x-form-trigger-fieldLabelTop{
    background-color:transparent !important;
    color:#080808 !important;
    width:20px !important;
}
.x-form-text-fieldLabelTop{
    background-color:transparent !important;
    padding:12px 5px 0px !important;
}
.x-form-invalid-field-fieldLabelTop{
    background-color:transparent !important;
}
.x-form-item-label-fieldLabelTop{
    padding-top:15px !important;
}
.x-form-empty-field-fieldLabelTop{
    font-style:italic;
}
.x-form-trigger-wrap-fieldLabelTop{
    border-top-color:transparent !important;
    border-left-color:transparent !important;
    border-right-color:transparent !important;
    border-bottom-color:#27E4E4 !important;
}
.x-form-trigger-wrap-fieldLabelTop.x-form-trigger-wrap-invalid{
     border-top-color:transparent !important;
    border-left-color:transparent !important;
    border-right-color:transparent !important;
    border-bottom-color:#cf4c35 !important;
}
.checkboxLabel{
    font-weight:600 !important;
    padding-left:22px !important;
    display:inline-block !important;
    margin-top:8px !important;
    font-size:13px !important;
}
.checkboxLabelLeftAlign{
    font-weight:600 !important;
    //padding-left:22px !important;
    display:inline-block !important;
    margin-top:8px !important;
    font-size:13px !important;
}
.x-form-item-fieldLabelTop.x-item-disabled{
    opacity:0.8 !important;
}