@include extjs-toolbar-ui(
$ui:'plain',
$background-color:#F3F5F9,
$border-color:'none',
$border-width:0px
);

@include extjs-toolbar-ui(
$ui:'plainBottom',
$background-color:#F3F5F9,
$border-color:'none',
$border-width:0px,
$text-font-weight:400
);
.x-toolbar-plainBottom{
    border-radius: 0 0 5px 5px !important;
    border-width: 0 1px 1px 1px !important;
    border-color:#d0d0d0 !important;
}
.x-toolbar-plainBottom .x-toolbar-item{
    font-weight:400 !important;
    color:black !important;
}
.x-btn-icon-el-plain-toolbar-small{
    color:black !important;
}
@include extjs-display-field-ui(
$ui:'headerTitle',
$ui-color:#697882,
$ui-font-weight:400,
$ui-font-size:22px
);
.x-form-display-field-headerTitle{
    margin-top:12px !important
}
@include extjs-display-field-ui(
$ui:'headerSubTitle',
$ui-color:#9eacb4,
$ui-font-weight:400,
$ui-font-size:13px
);
.x-form-display-field-headerSubTitle{
    margin-top:16px !important;
    margin-left:5px !important;
}
.gridTitle{
    font-weight:700 !important;
    font-size: 18px !important;
    color:#697882 !important;
}
.gridSubTitle{
    font-weight:300 !important;
    font-size: 13px !important;
    color:#9eacb4 !important;
}


@include extjs-button-small-ui(
    $ui: 'actionButton',
    $color: #FFFFFF,
    $icon-color: #FFFFFF,
    $background-color: #3598dc,
    $border-width: 0,
$border-color:#3598dc,
$border-radius:2px,
$background-color-over:#217ebd,
$background-color-focus:#217ebd,
$border-color-over:#1f78b5,
$border-color-focus:#1f78b5

);

@include extjs-button-small-ui(
    $ui: 'actionMenuButton',
    $color: #FFFFFF,
    $icon-color: #FFFFFF,
    $background-color: #3598dc,
    $border-width: 0,
$border-color:#3598dc,
$border-radius:2px,
$background-color-over:#217ebd,
$background-color-focus:#217ebd,
$border-color-over:#1f78b5,
$border-color-focus:#1f78b5
);
.x-btn-icon-el-actionMenuButton-small{
    font-size:10px !important;
    line-height:10px !important;
    height:10px !important;
}
.x-btn-button-actionMenuButton-small{
    min-height:10px !important;
}
.x-btn-inner-actionMenuButton-small{
    font-size:11px !important;
    font-weight:400 !important;
    font:400 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif !important;
}
.x-btn-inner-actionButton-small{
    font-weight:600 !important;
}
.chaching-grid .x-grid-cell { 
    background-color: white; 
    border-bottom-color: #e9e9e9; 
    border-top-color: #e9e9e9; 
    color: black; 
}

.chaching-grid .x-grid-cell-over { 
    background-color: #CDDDFD; 
    border-bottom-color: #CDDDFD; 
    border-bottom-style: solid; 
    border-top-color: #CDDDFD; 
    border-top-style: solid; 
} 
 
/* Grid cells in the selected row */ 
.chaching-grid .x-grid-item-selected { 
    background-color: #F3F5F9 !important; 
    border-bottom-color: #F3F5F9; 
    border-bottom-style: solid; 
    border-top-color: #F3F5F9; 
    border-top-style: solid; 
}
.chaching-grid .x-grid-body{
    border-width:1px !important;
    border-color:#d0d0d0 !important;
}
.chaching-grid .x-grid-with-row-lines .x-grid-item .x-grid-item-selected{
    border-color:#F3F5F9 !important; 
    background-color: gray !important; 
}
.chaching-grid .x-grid-with-col-lines .x-grid-item-selected .x-grid-cell{
    background-color:#CDDDFD !important;
    border-color:#CDDDFD !important; 
}
.chaching-grid .x-grid-item{
    color:black !important;
    font-weight:400 !important;
}
.chaching-grid .x-grid-item-over{
   background-color:#CDDDFD !important;
    border-color:#CDDDFD !important; 
}
 
.chaching-grid .x-grid-item-alt .x-grid-cell { 
    background-color: whitesmoke !important; 
    color: black !important; 
}
.chaching-grid .x-column-header{
    color:white !important;
    background-color:#3598DC !important;
    font-weight:700 !important;
    cursor:pointer !important;
}
.chaching-grid .x-column-header-over{
    background-color:#00BCD4 !important;
}
.chaching-grid .x-column-header-last{
     color:white !important;
    background-color:#3598DC !important;
    font-weight:700 !important;
}
.chaching-grid .x-column-header-last-over{
    background-color:#00BCD4 !important;
}
.chaching-grid .x-grid-header-ct{
    border-radius:5px 5px 0 0 !important;
    background-color:#3598DC !important;
}

/*Always visible column trigger*/
.chaching-grid .x-column-header-inner .x-column-header-trigger {
    width: 24px;
    display: block;
    background-color: #3598dc;
    font: 16px/1 FontAwesome;
    color: #ffffff;
}
.chaching-grid .x-column-header-trigger {
    border-left: 1px solid #3598dc !important;
}
.chaching-grid .x-column-header-inner .x-column-header-trigger:before {
    display: block;
    content: "\f0d7";
    top: 50%;
    margin-top: -8px;
    text-align: center;
    position: relative;
}

.chaching-grid .x-column-header-over .x-column-header-trigger {
    background-color: #eaeff4;
     color: #919191;
}

.chaching-grid .x-column-header-open .x-column-header-trigger {
	background-color: #dee3e8;
     color: #919191;
}

.chaching-transactiongrid .x-column-header{
    background-color:#dfe8f6 !important;
    font:700 11px/19px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    cursor:pointer !important;
}
.chaching-transactiongrid .x-column-header-last{
    background-color:#dfe8f6 !important;
}
.chaching-transactiongrid .x-grid-header-ct{
    border-radius:5px 5px 0 0 !important;
    background-color:#dfe8f6 !important;
}
.chaching-transactiongrid .x-column-header-inner .x-column-header-trigger {
    width: 24px;
    display: block;
    background-color: #dfe8f6;
    font: 16px/1 FontAwesome;
    color: black;
}
.chaching-transactiongrid .x-column-header-trigger {
    border-left: 1px solid #dfe8f6 !important;
}
.chaching-transactiongrid .x-column-header-inner .x-column-header-trigger:before {
    display: block;
    content: "\f0d7";
    top: 50%;
    margin-top: -8px;
    text-align: center;
    position: relative;
}
.chaching-transactiongrid .x-column-header-over .x-column-header-trigger {
    background-color: #eaeff4;
     color: #919191;
}
.chaching-transactiongrid .x-column-header-open .x-column-header-trigger {
	background-color: #dee3e8;
     color: #919191;
}
@include extjs-button-small-ui(
    $ui: 'clearFilter',
    $color: #FFFFFF,
    $icon-color: #21A702,
    $background-color: transparent,
    $border-width: 0,
$border-color:transparent,
$border-radius:2px,
$background-color-over:transparent,
$background-color-focus:transparent,
$border-color-over:transparent,
$border-color-focus:transparent

);
.x-btn-icon-el-clearFilter-small{
    font-weight:700 !important;
    font-size:20px !important;
    color:#565855 !important;
}


@include extjs-panel-ui(
    $ui: 'dragDropPanel',
    $ui-border-width:0px,
    $ui-border-radius:5px 5px 0 0,
    $ui-header-color:#fff,//#3598dc
    $ui-header-font-size: 16px,
    $ui-header-font-weight:600,
    $ui-header-padding:6px,
    $ui-header-background-color:#3598DC
);

@include extjs-text-field-ui(
$ui:'columnFilterField',
$ui-font-size:13px,
$ui-font-weight:400
);

.x-form-trigger-wrap-columnFilterField{
    border-right-color:transparent !important;
    border-right-width:0px !important;
    border-right-style:none !important;
}
.x-form-text-columnFilterField{
    font-style:italic !important;
}
.x-form-text-field-body-columnFilterField{
    margin-right:3px !important;
}

@include extjs-toolbar-ui(
$ui:'combogridtoolbar',
$background-color:#3598dc,
$border-color:#3598dc,
$border-width:0px,
$text-font-weight:600
);

.x-toolbar-combogridtoolbar{
    padding:5px;
    border-radius:0 0 5px 5px;
}

@include extjs-button-small-ui(
    $ui: 'combogridactionButton',
    $color: #FFFFFF,
    $icon-color: #FFFFFF,
    $background-color: #3598dc,
    $border-width: 0,
$border-color:#3598dc,
$border-radius:2px,
$background-color-over:#217ebd,
$background-color-focus:#217ebd,
$border-color-over:#1f78b5,
$border-color-focus:#1f78b5

);
.x-btn-combogridactionButton-small{
    padding:0 !important;
}

.chaching-combogrid .x-column-header{
    background-color: #3598dc !important;
    color: white !important;
    font:600 11px/19px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    cursor:pointer !important;
}
.chaching-combogrid .x-column-header-over{
    color:black !important;
     background-color: #3598dc !important;
}
.chaching-combogrid .x-column-header-last{
    background-color: #3598dc !important;
}
.chaching-combogrid .x-grid-header-ct{
    border-radius:5px 5px 0 0 !important;
    background-color: #3598dc !important;
}
.chaching-combogrid .x-grid-item-over{
   background-color:#7fb0da !important;
    border-color:#7fb0da !important;
    color: white !important;
}
.chaching-combogrid .x-grid-with-row-lines .x-grid-item .x-grid-item-selected{
    background-color:#7fb0da !important;
    border-color:#7fb0da !important;
    color: white !important;
}
.chaching-combogrid .x-grid-with-col-lines .x-grid-item-selected .x-grid-cell{
     background-color:#7fb0da !important;
    border-color:#7fb0da !important;
    color: white !important;
}
.chaching-combogrid .x-grid-item-focused{
    color: white !important;
}
.chaching-combogrid .x-grid-item{
    font-weight:600 !important;
    font:600 11px/18px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
}
.chaching-combogrid .x-grid-item-selected {
     background-color:#7fb0da !important;
    border-color:#7fb0da !important;
    color: white !important;
}

@include extjs-panel-ui(
$ui:'summaryPanel',
$ui-border-color:#025b80,
$ui-padding:5px,
$ui-header-font-size:12px,
$ui-header-font-weight:600,
$ui-header-line-height:15px,
$ui-header-border-color:#025b80,
$ui-header-background-color:#025b80,
$ui-header-padding:10px
);